<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-Vindo</title>
</head>
<body>
    <h1>Olá <%= nome %>!</h1>
    <h2>Vou te apresentar algumas coisas que eu gosto</h2>
</body>
</html>