<%- include('base'); -%>
    <h1>E esse foi meu site, espero que tenha gostado!</h1>
    <h2><a href="https://github.com/pedroansdev/" target="_blank"> Meu github: Dá uma passadinha lá :) </a></h2>
</body>
</html>