<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Augusto</title>
</head>
<body>
    <h1>Pedro</h1>
    <h2>Augusto</h2>
</body>
</html>